<div class="row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            <% if (locals.consentTitle) { %>
                <%= locals.consentTitle %>
            <% } else { %>
            Do you want to use <%= application.name -%> to send us your <%= roleScope -%> data?
            <% } %>
        </h1>
        <p class="lede">Send Data to DfE is a secure new way to send your data.</p>

        <% if (locals.consentBody) { %>
            <%- locals.consentBody %>
        <% } else { %>
        <p>The service is currently being tested. Please note that all schools must complete their census
            returns as normal using COLLECT.</p>
        <p>On completion of the trial we will contact you to confirm your data has been deleted.</p>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col-12">


        <form id="main" method="post" style="display: inline-block;">
            <div class="form-group">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <div class="multiple-choice">
                    <input checked="checked" type="radio" name="consent-choice"
                           value="yes" id="yes-consent">
                    <label for="yes-consent">
                    <span class="form-label-bold">
                        Yes, I want to use <%= application.name %>
                    </span>
                    </label>
                </div>
                <div class="multiple-choice">
                    <input type="radio" name="consent-choice"
                           value="no" id="no-consent">
                    <label for="no-consent">
                    <span class="form-label-bold">
                        Not now
                    </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button class="button" type="submit">Save and continue</button>
            </div>
        </form>
    </div>
</div>
