<div class="row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Allow <%= application.name %> to access your details?
        </h1>
        <p class="lede"><strong><%= application.name %></strong> has requested to access the following information about
            your <strong><%= user.email %></strong> DfE Sign-in account.</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ul class="list list-bullet">
            <% if (scopes.find(x => x === 'profile')) { %>
                <li>Name</li>
            <% } %>
            <% if (scopes.find(x => x === 'email')) { %>
                <li>Email address</li>
            <% } %>
        </ul>
    </div>
</div>

<form id="main" method="post" style="display: inline-block;">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <% if (user.organisations.length > 0) { %>
        <div class="row">
            <div class="col-12">
                <h4 class="heading-small">Organisations</h4>
                <% user.organisations.forEach((organisation) => { %>
                <div class="multiple-choice">
                    <input type="checkbox" name="organisation" id="org<%=organisation.id%>" value="<%=organisation.id%>">
                    <label for="org<%=organisation.id%>"><%=organisation.name%></label>
                </div>
                <% }) %>
            </div>
        </div>
        <div class="row row-spacer"></div>
    <% } %>

    <div class="row">
        <div class="col-12 submit-buttons">
            <button class="button" type="submit">Allow</button>
            <a href="<%=redirectUri%>?error=consent_denied" class="button button-secondary">Deny</a>
        </div>
    </div>
</form>