    <div class="row row-intro">
        <div class="col-6">
            <p>
                UUID is <%= uuid %>
            </p>
        </div>
        <div class="col-6">
            <p><a href="/dev/styleguide">Front-end styles and examples</a></p>
        </div>
    </div>
    <div class="cards">
        <a class="card" href="/<%= uuid %>/usernamepassword">
            <h2>Start username/password</h2>
            <p>Start the default username and password login journey</p>
        </a>
        <a class="card" href="/dev/complete">
            <h2>Interaction Complete</h2>
            <p>Show the Interaction Complete page</p>
        </a>
        <a class="card" href="/<%= uuid %>/resetpassword/request">
            <h2>Start reset password</h2>
            <p>Start the reset password journey</p>
        </a>
        <a class="card" href="/<%= uuid %>/resetpassword/confirm">
            <h2>Confirm reset password</h2>
            <p>Enter code and continue with password reset</p>
        </a>
        <a class="card" href="/<%= uuid %>/resetpassword/newpassword">
            <h2>Set new password</h2>
            <p>Set new password as part of reset journey</p>
        </a>
        <a class="card" href="/<%= uuid %>/resetpassword/complete">
            <h2>Password has been reset</h2>
            <p>Completion of reset password</p>
        </a>
        <a class="card" href="/<%= uuid %>/digipass?clientid=portal&uid=23121d3c-84df-44ac-b458-3d63a9a05497">
            <h2>Digipass token</h2>
            <p>Auth with digipass token</p>
        </a>
    </div>
