<div class="notification notification-success" tabindex="0">
    <h2>Check your phone <%=locals.resend ? 'again' : ''%></h2>
    <div class="inline-wrap">
        <p>We have <%=locals.resend ? 're-sent' : 'sent'%> you a text message containing an authentication code &dash;</p>
        <form method="post" class="inline" id="form-resend-sms-code">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <input type="hidden" name="resend" id="resend" value="true" />
            <button type="submit" class="button-text">Resend code <%=locals.resend ? 'again' : ''%></button>
        </form>
    </div>
</div>
<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Enter your text message code
        </h1>
        <p class="lede">We have sent you a text message with your authentication code. Enter the code below to verify your identity.</p>
    </div>
</div>
<div class="grid-row">
    <div class="col-12">
        <form method="post" id="form-sms-code">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

                <div class="form-group <%= locals.validationMessages.code !== undefined ? "form-group-error" : "" %>">

                    <label class="form-label" for="code">Authentication code</label>

                    <% if (locals.validationMessages.code !== undefined) { %>
                        <p class="error-message" id="validation-code"><%= locals.validationMessages.code %></p>
                    <% } %>

                    <input class="form-control char-width-6" id="code" name="code" type="text"
                           required aria-required="true" maxlength="6" autocomplete="off"
                            <% if (locals.validationMessages.code !== undefined) { %> aria-invalid="true" aria-describedby="validation-code" <% } %>>

                </div>
                <div class="form-submit">
                    <button type="submit" class="button">Continue</button>
                </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <%- include('../../includes/helpdesk'); %>
    </div>
</div>