<main class="elements-index" id="content" tabindex="-1">



    <div class="grid-row">
        <div class="col-8">
            <h1 class="heading-xlarge">
                Select your organisation
            </h1>
            <p>You are associated with more than one organisation, please select the one you wish to sign-in with.</p>
            <form method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <div class="form-group">

                <fieldset>
                    <legend>
                        <h1 class="heading-small">Your organisations</h1>
                    </legend>

                    <% locals.orgsForUser.forEach((org) => { %>
                    <div class="multiple-choice">
                        <input id="<%= org.organisation.id %>" type="radio" name="selected-organisation" value="<%= JSON.stringify(org.organisation)%>">
                        <label for="<%= org.organisation.id %>"><%- org.organisation.name %></label>
                    </div>

                    <% })%>

                </fieldset>

            </div>
            <div class="form-group">
                <input type="submit" class="button" value="Continue" />
            </div>
            </form>
        </div>
    </div>
</main>