
<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Forgotten your password?
        </h1>
        <p class="lede">Enter the email address you have registered for DfE Sign-in.</p>
    </div>
</div>
<div class="grid-row">
    <div class="col-12">
        <form method="post" id="form-reset-password">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <fieldset>
                <legend class="vh">Reset password</legend>
                <div class="form-group <%=  locals.validationMessages.email !== undefined ? "form-group-error" : "" %>">
                    <label class="form-label" for="email">Email address</label>
                    <% if (locals.validationMessages.email !== undefined) { %>
                    <p class="error-message" id="validation-email"><%= locals.validationMessages.email %></p>
                    <% } %>
                    <input class="form-control" id="email" name="email" type="email" value="<%=email%>" required  aria-required="true" <% if (locals.validationMessages.email !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %>>
                </div>
                <div class="form-submit submit-buttons">
                    <button type="submit" class="button">Continue</button>
                    <a href="/<%=uuid%>/usernamepassword?clientid=<%=clientId%>&redirect_uri=<%=redirectUri%>" class="button button-secondary">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <%- include('../../includes/helpdesk'); %>
    </div>
</div>
