
    <% if(locals.showDefaultMessage) { %>
        <div class="notification notification-information" tabindex="-1">
            <h2>Department for Education Sign-in</h2>
        </div>
    <%} else if(locals.header) { %>
        <div class="notification notification-information" tabindex="-1">
            <h2><%=locals.header%></h2>
            <% if(locals.headerMessage) { %>
                <p><%-locals.headerMessage.replace('__helplink__',locals.urls.help)%></p>
            <%}%>
        </div>
    <%}%>


    <div class="grid-row">
        <div class="col-8">
            <h1 class="heading-xlarge">
                Department for Education Sign-in
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <% if (locals.useSelfRegister) { %>
                <p>DfE Sign-in allows you to access several important services in the education sector, such as COLLECT.</p>
            <% } else { %>
                <p>DfE Sign-in is the new way to access some specific education sector services. To use DfE Sign-in you will need to <a href="<%=locals.urls.help%>/contact/create-account">create an account</a>.</p>
            <% } %>
            <form method="post" id="form-signin" class="form-signin">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <input type="hidden" name="clientId" value="<%=locals.clientId%>"/>
                <input type="hidden" name="redirectUri" value="<%=locals.redirectUri%>"/>
                <fieldset>
                    <legend class="heading-medium">Sign-in</legend>
                    <div class="form-group <%= (locals.validationMessages.username !== undefined) ? 'form-group-error' : '' %>">
                        <% if(locals.supportsUsernameLogin) {%>
                            <label class="form-label" for="username">Email address or Secure Access username</label>
                        <%} else {%>
                            <label class="form-label" for="username">Email address</label>
                        <%}%>
                        <% if (locals.validationMessages.username !== undefined) { %>
                            <p class="error-message" id="validation-email"><%=locals.validationMessages.username %></p>
                        <% } %>
                        <input class="form-control full-width" id="username" name="username" type="text" <% if (locals.validationMessages.username !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %> value="<%=locals.username%>">
                    </div>
                    <div class="form-group <%= (locals.validationMessages.password !== undefined) ? 'form-group-error' : '' %>">
                        <label class="form-label" for="password">Password</label>
                        <% if(locals.validationMessages.password !== undefined) { %>
                            <p class="error-message" id="validation-password"><%=locals.validationMessages.password%></p>
                        <% } %>
                        <div class="show-password full-width">
                            <input class="form-control" id="password" name="password" type="password" <% if (locals.validationMessages.password !== undefined) { %> aria-invalid="true" aria-describedby="validation-password" <% } %>>
                        </div>
                        <p class="form-help"><a href="/<%=locals.uuid%>/resetpassword/request?clientid=<%=locals.clientId%>&redirect_uri=<%=locals.redirectUri%>">Forgotten your password?</a></p>
                    </div>
                </fieldset>
                <div class="panel panel-border-wide">
                    <p>By continuing you accept the <a href="/terms">terms and conditions</a>.</p>
                </div>
                <div class="form-submit submit-buttons">
                    <button type="submit" class="button">
                        Sign in
                        <span class="loader spinner-inline vh">
                            <span class="ball b-1"></span>
                            <span class="ball b-2"></span>
                            <span class="ball b-3"></span>
                        </span>
                    </button>
                    <% if (locals.useSelfRegister) { %>
                        <span><a class="button button-secondary" href="<%= locals.urls.profile %>/register" role="button">Create Account</a></span>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <% if (!locals.useSelfRegister) { %>
            <div class="col-8">
                <%- include('../../includes/helpdesk'); %>
            </div>
        <%} else {%>
            <div class="col-6"> 
                <p><b class="bold-small">Need help? </b><a href="<%=locals.urls.help%>/contact">See our DfE Sign-in help guides</a></p>
            </div>
        <%}%>
    </div>

