
<% if (locals.isFailedLogin) { %>
    <div class="row">
        <div class="col-12">
            <div class="notification notification-error">
                <%= locals.message || 'error!' %>
            </div>
        </div>
    </div>
    <% } %>
    <div class="grid-row">
        <div class="col-9">
            <h1 class="heading-xlarge">
                Sign in to access DfE services
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <form method="post" id="form-signin">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <fieldset>
                    <legend class="vh">Sign in form</legend>
                    <div class="form-group <%= locals.emailValidationMessage !== undefined ? 'form-group-error' : '' %>">
                        <label class="form-label-bold" for="username">Email address</label>
                        <% if (locals.emailValidationMessage!== undefined) { %>
                            <p class="error-message" id="validation-email"><%=locals.emailValidationMessage %></p>
                        <% } %>
                        <input class="form-control" id="username" name="username" type="email" <% if (locals.emailValidationMessage !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %>>
                    </div>
                    <div class="form-group <%= locals.passwordValidationMessage !== undefined ? 'form-group-error' : '' %>">
                        <label class="form-label-bold" for="password">Password</label>
                        <% if(locals.passwordValidationMessage !== undefined) { %>
                            <p class="error-message" id="validation-password"><%=locals.passwordValidationMessage%></p>
                        <% } %>
                        <input class="form-control" id="password" name="password" type="password" <% if (locals.passwordValidationMessage !== undefined) { %> aria-invalid="true" aria-describedby="validation-password" <% } %>>
                    </div>
                    <div class="panel">
                        <p>By continuing you accept the <a href="<%= locals.portal.url %>/terms">terms and conditions</a>.</p>
                    </div>
                    <div class="form-submit">
                        <button type="submit" class="button">Sign in</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-4">
            <aside>
                <h2 class="heading-medium">Problems signing in?</h2>
                <nav class="subnav">
                    <ul>
                        <li><a href="/<%=locals.uuid%>/resetpassword/request?clientid=<%=locals.clientId%>">Forgotten your password?</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>

