<form method="post">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <button type="submit" name="cancel" value="true" class="link link-back">Back</button>
</form>


<% if (locals.isFailedLogin) { %>
    <div class="row">
        <div class="col-12">
            <div class="notification notification-error">
                <%= locals.message || 'error!' %>
            </div>
        </div>
    </div>
    <% } %>
    <div class="grid-row">
        <div class="col-8">
            <h1 class="heading-xlarge">
                Sign in to access DfE services
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" id="form-signin">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <fieldset>
                    <legend class="vh">Sign in form</legend>
                    <div class="form-group <%= locals.emailValidationMessage !== undefined ? 'form-group-error' : '' %>">
                        <label class="form-label" for="username">Email address</label>
                        <% if (locals.emailValidationMessage!== undefined) { %>
                            <p class="error-message" id="validation-email"><%=locals.emailValidationMessage %></p>
                        <% } %>
                        <input class="form-control" id="username" name="username" type="email" <% if (locals.emailValidationMessage !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %>>
                    </div>
                    <div class="form-group <%= locals.passwordValidationMessage !== undefined ? 'form-group-error' : '' %>">
                        <label class="form-label" for="password">Password</label>
                        <% if(locals.passwordValidationMessage !== undefined) { %>
                            <p class="error-message" id="validation-password"><%=locals.passwordValidationMessage%></p>
                        <% } %>
                        <input class="form-control" id="password" name="password" type="password" <% if (locals.passwordValidationMessage !== undefined) { %> aria-invalid="true" aria-describedby="validation-password" <% } %>>
                    </div>
                    <div class="panel">
                        <p>By continuing you accept the <a href="<%= locals.portal.url %>/terms">terms and conditions</a>.</p>
                    </div>
                    <div class="form-submit">
                        <button type="submit" class="button">Sign in</button>
                    </div>
                </fieldset>
            </form>

            <hr>

            <h2 class="heading-medium">Problems signing in?</h2>
            <p><a href="/<%=locals.uuid%>/resetpassword/request?clientid=<%=locals.clientId%>&redirect_uri=<%=locals.redirectUri%>">Forgotten your password?</a></p>

        </div>
    </div>

